{% extends "base.html" %}

{% block title %}
Add Assignment
{% endblock %}

{% block content %}
<h2>Add Assignment</h2>
<form method="POST">

    <label>Course</label>
    <input
        type="text"
        name="course"
        class="form-control"
        required>
    <b>

    <label>Assignment</label>
    <input
        type="text"
        name="title"
        class="form-control"
        required>
    <br>
    <div class="form-group">
        <label>Notes</label>
        <textarea
            name="notes"
            class="form-control"
            rows="4"
            placeholder="Assignment details.."></textarea>
    </div>


    <label>Due Date</label>
    <input
        type="date"
        name="due_date"
        class="form-control"
        required>
    <br>
    <div class="form-group">
        <label>Assignment Type</label>
        <select
            name="category"
            class="form-control"
            required>

            
            <option value="" selected disabled>
                Select Assignment Type
            </option>

            <option value="Homework">Homework</option>
            <option value="Classwork">Classwork</option>
            <option value="Quiz">Quiz</option>
            <option value="Exam">Exam</option>
        </select>
    </div>


    <button
        type="submit"
        class="btn btn-completed">
        Save Assignment
    </button>

    <a href="javascript:history.back()" class="btn btn-back">
        ← Back
    </a>
</form>

{% endblock %}