{% extends "base.html" %}

{% block title %}
Add Assignment
{% endblock %}

{% block content %}
<h2>Add Assignment</h2>
<form method="POST">

    <label>Course</label>
    <input
        type="text"
        name="course"
        class="form-control">
    <b>

    <label>Assignment</label>
    <input
        type="text"
        name="title"
        class="form-control">
    <br>


    <label>Due Date</label>
    <input
        type="date"
        name="due_date"
        class="form-control">
    <br>
    <div class="form-group">
        <label>Assignment Type</label>
        <select
            name="category"
            class="form-control">

            <option value= "Homework"> Homework </option>
            <option value= "Classwork"> Classwork </option>
            <option value= "Quiz"> Quiz </option>
            <option value= "Exam"> Exam </option>
        </select>
    </div>


    <button
        type="submit"
        class="btn btn-primary">
        Save Assignment
    </button>

    <a href="javascript:history.back()" class="btn btn-secondary">
        ← Back
    </a>
</form>

{% endblock %}