{% extends "base.html" %}

{% block title %}Completed Assignments{% endblock %}

{% block content %}

<h1 align="center">Completed Assignments ✅</h1>

{% if assignments %}

    {% for assignment in assignments %}
    <div class="card mb-3">

        <div class="card-body">

            <h5>
                <s>{{ assignment.course }}</s>
            </h5>


            <p>
                <s>{{ assignment.title }}</s>
            </p>
            <small>
                Due: {{ assignment.due_date }}
            </small>

            <span class = "badge badge-succes">
                {{assignment.category}} ✅
            </span>

            <br><br>

            <a href="/edit-assignment/{{ assignment.id }}?from_page=completed"
                class="btn btn-warning btn-sm">
                Edit
            </a>

            <a href="/delete-assignment/{{ assignment.id }}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Delete this assignment?')">
                Delete
            </a>
            <br><br>

            <a href="/uncomplete-assignment/{{ assignment.id }}"
                class="btn btn-secondary btn-sm">
                Uncomplete
            </a>
        </div>

    </div>
    {% endfor %}

{% else %}

    <div class="text-center mt-5">
        <h4>No completed assignments yet.</h4>
    </div>

{% endif %}

{% endblock %}