{% extends "base.html" %}

{% block title %}Edit Assignment{% endblock %}

{% block content %}

<h1 align="center">Edit Assignment</h1>

<form method="POST">
    <input
        type="hidden"
        name="from_page"
        value="{{ from_page }}">

    <div class="form-group">
        <label>Course</label>
        <input type="text"
               class="form-control"
               name="course"
               value="{{ assignment.course }}">
    </div>

    <div class="form-group">
        <label>Assignment</label>
        <input type="text"
               class="form-control"
               name="title"
               value="{{ assignment.title }}">
    </div>
    <div class="form-group">
        <label>Notes</label>
        <textarea
            name="notes"
            class="form-control"
            rows="4">{{ assignment.notes }}</textarea>
    </div>

    <div class="form-group">
        <label>Due Date</label>
        <input type="date"
               class="form-control"
               name="due_date"
               value="{{ assignment.due_date }}">
    </div>
    <div class="form-group">
        <label>Assignment Type</label>
        <select
            name="category"
            class="form-control">

            <option value="Homework" {% if  assignment.category == "Homework" %}selected{% endif %}> Homework </option>
            <option value="Classwork" {% if assignment.category == "Classwork"%}selected{% endif %}> Classwork </option>
            <option value= "Quiz" {% if assignment.category == "Quiz"%}selected{% endif %}> Quiz </option>
            <option value= "Exam" {% if assignment.category == "Exam"%}selected{% endif %}> Exam </option>
        </select>

    </div>
    
    <br>

    <button type="submit"
            class="btn btn-primary">
        Save Changes
    </button>
    <a href="javascript:history.back()" class="btn btn-secondary">
        ← Back
    </a>
    

</form>

{% endblock %}