body {
    background-color: #FFF7FB;
    color: #3D3D3D;
}

.btn-add {
    background-color: #D88BB8;
    color: white;
}

.btn-edit {
    background-color: #F6C85F;
    color: white;
}
.btn-delete {
    background-color: #E98B8B;
    color: white;
}

.btn-back {
    background-color:#C8B6FF;
    color: white;
}

.btn-completed {
    background-color: #91d9b4;
    color: white;
}
.navbar {
    background-color: #D88BB8 !important;
}

h1 {
    color: #C75B9B;
}

#calendar {
    max-width: 1000px;
    margin: 40px auto;
    background: #FFF7FB;
    padding: 40px;
    border-radius: 20px;
}